.Contact_div {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-bottom: 30px;
  /* margin-top: 90px; */
  padding-top: 90px;
  


}

.Namediv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.Namediv input {
  height: 50px;
  margin-top: 10px;
  border-color: rgb(236, 230, 230);
  padding-left: 20px;
  font-size: 15px;
}

.Emaildiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Emaildiv input {
  height: 50px;
  margin-top: 10px;
  border-color: rgb(236, 230, 230);
  padding-left: 20px;
  font-size: 15px;
}
.Add {
  height: 40px;
  width: 70px;
  background-color: rgb(8, 98, 241);
  border: none;
  color: white;
  border-radius: 5px;
}
.Add:hover:active {
  background-color: rgb(8, 98, 241);
  cursor: pointer;
}
.Add:hover {
  background-color: rgb(98, 98, 249);
  cursor: pointer;
}
